<div class="features-section">
    <div class="feature-item">
        <i class="bi bi-shield-check feature-icon"></i>
        <div class="feature-text">
            <h4>Compra 100% segura</h4>
            <p>Protegemos tus datos</p>
        </div>
    </div>
    <div class="feature-item">
        <i class="bi bi-truck feature-icon"></i>
        <div class="feature-text">
            <h4>Envíos a todo el Perú</h4>
            <p>Rápidos y confiables</p>
        </div>
    </div>
    <div class="feature-item">
        <i class="bi bi-patch-check feature-icon"></i>
        <div class="feature-text">
            <h4>Productos originales</h4>
            <p>Garantía de calidad</p>
        </div>
    </div>
    <div class="feature-item">
        <i class="bi bi-tags feature-icon"></i>
        <div class="feature-text">
            <h4>Ofertas exclusivas</h4>
            <p>Descuentos especiales</p>
        </div>
    </div>
</div>
