<div class="user-menu-container">
    <button class="action-icon user-button" @onclick="ToggleMenu" @onfocusout="HideMenuDelayed">
        @if (IsLoggedIn && !string.IsNullOrEmpty(UserName))
        {
            <span class="user-name">@UserName</span>
        }

        @if (IsLoggedIn)
        {
            <i class="bi bi-person-circle"></i>
        }
        else
        {
            <a class="link_login" href="/login">
                <i class="bi bi-person-circle"></i>
            </a>
            
        }
    </button>

    <div class="dropdown-menu @(isMenuOpen ? "show" : "")">
        <ul class="menu-list">
            @if (IsLoggedIn)
            {
                <li>

                    @if(isAdmin){
                        <a href="/admin" class="menu-item">
                            <i class="bi bi-gear"></i> Settings
                        </a>
                    }
                    else
                    {
                        <a href="/user" class="menu-item">
                            <i class="bi bi-gear"></i> Settings
                        </a>
                    }
                </li>
                <li>
                    <button class="menu-item text-danger" style="background: none; border: none; width: 100%; text-align: left;" @onclick="PerformLogout">
                        <i class="bi bi-box-arrow-right"></i> Log out
                    </button>
                </li>
            }
        </ul>
    </div>
</div>

@using Progra3_Frontend.Services.Auth
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager
@inject CustomAuthenticationStateProvider AuthProvider

@code {
    [Parameter]
    public bool IsLoggedIn { get; set; } = false;

    [Parameter]
    public string UserName { get; set; } = "";


    public bool isAdmin = false;

    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        if (!IsLoggedIn) return;
        isMenuOpen = !isMenuOpen;
    }


    protected override async Task OnInitializedAsync()
    {
        var state = await AuthProvider.GetAuthenticationStateAsync();
        if (state == null) return;
        isAdmin = state.User.IsInRole("ADMIN") || state.User.IsInRole("admin");
    }
    private async Task HideMenuDelayed()
    {
        await Task.Delay(200);
        isMenuOpen = false;
        StateHasChanged();
    }

    private async Task PerformLogout()
    {
        if (AuthProvider is CustomAuthenticationStateProvider customProvider)
        {
            await customProvider.Logout();
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
    }
}

