@using AllasiFrontend.Components.Shared.ui.SidebarNav
@using Microsoft.AspNetCore.Components.Authorization
@layout MainLayout
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider

<div class="admin-container">

    <div class="sidebar">
        <SidebarNav Items="items" />
    </div>

    <div class="admin-content">
        @Body
    </div>

</div>

@code {

    List<NavItem> items = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole("MASTER"))
        {
            items.Add(new NavItem
            {
                Href = "/admin/admin-list",
                Icon = "bi bi-person-badge",
                Text = "Administradores"
            });

            items.Add(new NavItem
            {
                Href = "/admin/taxes",
                Icon = "bi bi-percent",
                Text = "Impuestos"
            });
        }

        items.Add(new NavItem
        {
            Href = "/admin/client-list",
            Icon = "bi bi-people",
            Text = "Clientes"
        });

        items.Add(new NavItem
        {
            Href = "/admin/product-list",
            Icon = "bi bi-box-seam",
            Text = "Productos"
        });

        items.Add(new NavItem
        {
            Href = "/admin/recipe-list",
            Icon = "bi bi-journal-richtext",
            Text = "Recetas"
        });

        items.Add(new NavItem
        {
            Href = "/admin/order-list",
            Icon = "bi bi-box-seam",
            Text = "Ordenes"
        });

        items.Add(new NavItem
        {
            Href = "/admin/report-list",
            Icon = "bi bi-bar-chart-line",
            Text = "Reportes"
        });

        
        /* Dashboard */
        items.Add(new NavItem
        {
            Href = "/admin/dashboard",
            Icon = "bi bi-speedometer2",
            Text = "Dashboard"
        });
        
        items.Add(new NavItem
        {
            Href = "/admin/change-password",
            Icon = "bi bi-lock",
            Text = "Cambiar contraseña"
        });
    }
}
